

{% block Title %}
{% load static %}

    <link rel='stylesheet' href='https://unpkg.com/modern-css-reset/dist/reset.min.css'>
    <link rel='stylesheet' href='https://unpkg.com/splitting/dist/splitting.css'>
    <link rel='stylesheet' href='https://unpkg.com/splitting/dist/splitting-cells.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@700&amp;display=swap'>
    <link rel='stylesheet' href='https://use.typekit.net/zlj2zcu.css'>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href={% static "Work/css/Title.css" %}>
    <link rel='stylesheet' href='https://unpkg.com/modern-css-reset/dist/reset.min.css'>
    <link rel='stylesheet' href='https://unpkg.com/splitting/dist/splitting.css'>
    <link rel='stylesheet' href='https://unpkg.com/splitting/dist/splitting-cells.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@700&amp;display=swap'>
    <link rel='stylesheet' href='https://use.typekit.net/zlj2zcu.css'>

    <div id="tsparticles">
    </div>
    <!-- partial:index.partial.html -->
<div class="containerHead">
  <center>
  <h1>
  <span class="main" aria-label="boring" data-splitting>Hyperloop</span>
</h1></center>
</div>
  <!-- partial -->

    <script src='https://unpkg.com/splitting/dist/splitting.min.js'></script><script  src="./script.js"></script>
    <script src='https://cdn.jsdelivr.net/npm/tsparticles@1.34.0/tsparticles.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/tsparticles-interaction-light@1.34.0/tsparticles.interaction.light.min.js'></script>
    <script src='https://unpkg.com/splitting/dist/splitting.min.js'></script>

    <script src={% static "Work/js/Title.js" %}></script>

{% endblock %}
